/* Tailwind directives */
@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  /* Remove arrow on input type number */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@theme {
  --font-body: 'Roboto Variable', sans-serif;
  --font-icons: 'Material Icons';

  --color-transparent: transparent;
  --color-current: currentColor;
  --color-white: #ffffff;
  --color-black: #000000;

  --color-gray-lighter: #f7f7f8;
  --color-gray-light: #edeef2;
  --color-gray: #dadbdf;
  --color-gray-dark: #b0b0b0;
  --color-gray-darker: #636363;

  --color-primary-lighter: #dee7f8;
  --color-primary-light: #bcd0f0;
  --color-primary: #2570ea;
  --color-primary-dark: #1f498e;

  --color-secondary-lighter: #eee1ff;
  --color-secondary-light: #dec4ff;
  --color-secondary: #9747ff;
  --color-secondary-dark: #6730ad;

  --color-success-lighter: #e1fce7;
  --color-success-light: #c4fad0;
  --color-success: #47ef6c;
  --color-success-dark: #2cac49;

  --color-danger-lighter: #fadbe5;
  --color-danger-light: #f5b8ca;
  --color-danger: #df215a;
  --color-danger-dark: #ba2853;

  --color-info-lighter: #fffbec;
  --color-info-light: #fff7d9;
  --color-info: #ffe589;
  --color-info-dark: #f2ae2a;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}
